# Python virtual environment
venv/
__pycache__/
*.pyc

# Robot Framework outputs
*.log
*.xml
*.html
output.xml
log.html
report.html
playwright-log.txt

# Node/Playwright binaries
**/node_modules/
**/playwright/.cache/

# VS Code settings (optional)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
